#city_header {
  font-size: large;
  font-weight: bold;
}

.week-report {
  display: flex;
  flex-direction: row;
}

.week-report > * {
  border: 2px solid black;
  flex-grow: 1;
}

#today {
  border: 2px solid black;
  width: 20%
}

.days {
  font-weight: bold;
}

.days > * {
  font-weight: normal;
}

.alert-event {
  background-color: red;
  color: white;
}

#temperature_wrapper, #temperature_low_high {
  grid-row-start: auto;
  
}

.temperature, .precipitation, .current-precipitation {
  margin: 0 10px 0;
}

.sunrise, .sunset, .wind-speed, .wind-direction .temp-low {
  margin-left: 10px;
}

.temp-high {
  margin-left: 5px;
}

#current_label {
  margin: 0px 10px 0px;
}

#weather_display {

}

#weather_display > div {
}

#user_input {

}

#city_input {

}