.alert-event {
  background-color: red;
  color: white;
}

#city_header {
  font-size: large;
  font-weight: bold;
}

#conversion_button {
  font-weight: bold;
}

#today {
  border: 2px solid black;
  width: 20%
}

.week-report {
  display: flex;
  flex-direction: row;
}

.week-report > * {
  border: 2px solid black;
  flex-grow: 1;
}

.days-hidden {
  font-weight: bold;
  height: 7em;
  overflow: hidden;
}

.days-hidden, .days-shown > * {
  font-weight: normal;
}

.temperature_wrapper, .temperature_low_high {
  grid-row-start: auto;
  
}

.temperature-value, .precipitation-value, .current-precipitation {
  margin: 0 10px 0;
}

.sunrise, .sunset, .wind-speed-value, .wind-direction .temp-low {
  margin-left: 10px;
}

.temp-high {
  margin-left: 5px;
}

#hourly_report_ol {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: auto;
  list-style-position:inside;
  margin: 0;
  margin-bottom: 1em;
  padding-bottom: 0;
}

.hour-wrapper-li {
  display: block;
  list-style-position:inside;
  border: 2px solid black;
  background: blue;
  min-width: 55px;  
  height: 4em;
  margin: 0;
  padding: 0.5em;
  padding-bottom: 1em;
}

.hour-time-display {
  font-weight: bold;
  align-content: center;
}
.hour-temp {
  /* background-color: red; */
}

#current_label {
  margin: 0px 10px 0px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.days-shown {
  height: 14em;
}